@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
:root{
    --font0:Verdana, Geneva, Tahoma, sans-serif;
    --font1:'Poppins';
    --font3:'Russo One';
    --colorb:black;
    --colorw:white;
    --color0: rgba(75, 75, 197, 0.767);
    --color1:#012E40;
    --color2:#024959;
    --color3:#026873;
    --color4:#BFB195;
    --color5:#F2DCC2;
} 
html, body{
    margin: 6px;
    padding: 0px;
    background-color: var(--color5);
    min-height: 100vw;
    color: var(--colorw);
}
main{
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    background-color: var(--color3);
    border-radius: 20px 20px 20px 20px;
}
header{
    margin-top: -12px;
    margin-left: -12px;
    margin-right: -10px;
    background-color: #012E40;
    color: var(--colorb);
    padding: 2em;
    border-radius: 0px 0px 13px 13px;
}
header>h1{
    background-color: #012E40;
    color:var(--colorw);
    font-size: 50px;
    text-align: center;
    font-family: var(--font1);}
html,body{
    min-height: 100vh;
    height: 100%;
     }
nav{
    margin-top: 20px;
    background-color: var(--color1);
    margin-bottom: -1px;
}
nav> a{
    color: var(--colorw);
    background-color: var(--color1);
    text-decoration: none;
    font-weight: bolder;
    margin: 10px;
    text-align: left;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
    border-radius: 8px 8px 8px 8px;
    font-size: 16px;
}
a:hover{
    border: 2px solid white;
    transform: translate(-3px, -3px);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.582);
    transition: transform 0.5s, border 1s;
    background-color:#026873;
}
article{
    text-align: left;
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 80px;
    background-size: cover;
    background-attachment: fixed;
}
article>h1{
    padding-bottom: -20px;
    margin-bottom: 17px;
    margin-top: -325px;
    background-color: var(--color1);
    text-indent: 10px;
    text-align: center;
    margin-right: -14px;
    margin-left: -24px;
    border-radius: 10px 10px 0px 0px;    
    font-size: 20px;
}
article>h2{
    padding-bottom: -20px;
    margin-bottom: 17px;
    margin-top: -325px;
    background-color: var(--color1);
    text-indent: 10px;
    text-align: center;
    margin-right: -14px;
    margin-left: -24px;
    border-radius: 0px 0px 0px 0px;   
    font-size: 20px; 
}

article>img#html{
    width: 300px;
    height: 300px;
}
article>p{
    padding-top: 30px;
    padding-left: -20px;
    text-align:left;
    margin-right: 400px;   
    font-size: 16pt;
    line-height: 35px;
    margin: auto;
    text-indent: 20px;
    border-radius: 10px 10px 10px 10px;
    padding-bottom: 320px;
}

aside#img1{
    background-image: url(imagens/notebook.png);   
    border-radius: 10px 10px 10px 10px;
    margin-left: 710px;
    height: 300px;
    background-position: left top;
    
}
aside.imagem{
    background-color: rgba(0, 0, 0, 0.671);
    color: white;
    box-shadow: inset 12px 12px 20px 5px rgba(0, 0, 0, 0.37);
    background-size: cover;   
    background-attachment: fixed;  
    padding-top: -10px;
}