@charset "UTF-8";

/*tablet*/
@media screen and (min-width:481px) and (max-width: 768px) {
    main {
        margin-top: 0vh;
        margin-left: 7;
    }

    header>h1.titulo {
        margin-left: 10vw;
        padding-top: 0px;
        width: 68vw;
    }

    article>h1 {
        margin-left: -1.9vw;
    }

    article>h2 {
        margin-top: 5vh;
        margin-left: -1.9vw;
    }

    article>h3 {
        margin-left: -1.9vw;
        margin-top: -9vh;
    }

    header>p.estrategia {
        margin-left: 60%;
        margin-top: -28vh;
    }

    header>p.responsivos {
        margin-left: 75%;
        margin-top: 15px;
    }

    header>p.bug {
        margin-left: 60%;
        margin-top: 15px;
    }

    aside.logo {
        height: 56vh;
    }

    header>nav {
        margin-top: 5.2vh;
        padding-top: 0px;
    }

    p.apresentacao {
        margin-top: 20px;
        width: 64vw;
        height: 35vh;
        text-align: justify;
        line-height: 1.5em;
        text-indent: 5px;
        margin-bottom: 10px;
        padding-top: 0px;
    }

    section>article>aside.perfil {
        background: url("../imagens/perfil.jpeg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 19vw;
        height: 36vh;
        background-color: #BFB195;
        margin-top: -40vh;
        margin-bottom: 7vh;
        margin-left: 66vw;
        border-radius: 44px;

    }

    p.quartop {
        margin-top: -9vh;
    }

    main>section>footer>p {
        margin-top: 66.5vh;
        width: 91vw;
        margin-left: -2.5vw;
        background-color: var(--color3);
        font-family: var(--font0);
        height: 8vh;
        margin-bottom: 5vh;
        border-radius: 10px;
        padding-left: 1vw;
        font-size: 16px;
        text-align: center;
    }

    main>section>footer>a.instagram {
        background: url("../imagens/instagram.png")no-repeat;
        background-position: center;
        background-size: contain;
        width: 5vw;
        height: 4vh;
        display: block;
        margin-top: -9.5vh;
        margin-bottom: 10vh;
        margin-left: 35vw;

    }

    section>article>a.link-android {
        font-family: var(--font1);
        width: 84px;
        height: 4vh;
        margin-top: 9vh;
        margin-left: 17vw;
        background-color: var(--color2);
        text-decoration: none;
        border-radius: 8px;
        color: var(--colorw);
        display: block;
        padding-left: 0.1vw;
        font-size: 1em;
        margin-right: 30vw;
        text-align: center;
    }

    main>section>footer>a.github {
        background: url("../imagens/gituhb.png") no-repeat;
        background-position: left;
        background-size: contain;
        width: 6vw;
        height: 5vh;
        display: block;
        margin-top: -14.7vh;
        margin-bottom: 10vh;
        margin-left: 48vw;
    }

    section>article>a.link-cordel {
        font-family: var(--font1);
        width: 16vw;
        height: 5vh;
        margin-top: -12.9vh;
        margin-left: 53vw;
        background-color: var(--color2);
        text-decoration: none;
        border-radius: 8px;
        color: var(--colorw);
        display: block;
        padding-left: 1.1vw;
        font-size: 1em;
        margin-right: 30vw;
        text-align: center;
    }
}

/*laptop*/
@media screen and (min-width: 769px) and (max-width:987px) {
    article>.teste p {
        font-size: 20px;
        display: block;
        text-align: left;
        margin-bottom: 11vh;
        max-width: 68%;
        height: 10vh;
        color: white;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin-left: 1.5vw;
        margin-top: -14vh;
        letter-spacing: .15em;
        animation: digitando 3.5s steps(40, end) 9999,
            piscar .75s step-end infinite;

    }

    @keyframes digitando {
        from {
            width: 0%;
            height: 13vh;
        }

        to {
            width: 74%;
            height: 13vh;
        }

    }

    @keyframes piscar {

        from,
        to {
            border-color: transparent;
            height: 4vh;
        }

        50% {
            border-color: orange;
            height: 4vh;
        }
    }

    main {
        width: 87vw;
        text-align: center;
        margin-left: 7vw;
    }

    header>h1.titulo {
        font-size: 30px;
    }

    article>aside.img2 {
        margin-left: 3vw;
        margin-top: -2vh;
        margin-bottom: 3vh;
        width: 70vw;

    }

    article>h1 {
        margin-left: -1.5vw;
        width: 86vw;
    }

    article>h2 {
        margin-top: -40px;
        margin-left: -1.5vw;
        width: 86vw;

    }

    article>h3 {
        border-radius: 10px;
        margin-left: -1.5vw;
        width: 86vw;
        margin-top: -10vh;
        margin-bottom: 6vh;
    }

    p.apresentacao {
        width: 56vw;
        margin-top: 6vh;
        height: 35vh;
        margin-bottom: 3vh;
        font-size: 20px;
        margin-left: 2vw;
    }

    p.segundop {
        width: 80vw;
        font-size: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        margin-bottom: 15vh;
    }

    p.quartop {
        width: 80vw;
        font-size: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        margin-bottom: 11vh;
        margin-top: -10vh;
    }

    p.quintop {
        margin-top: 0vh;
        width: 80vw;
        margin-left: 2vw;
        font-size: 20px;
    }

    p.linguagens1 {
        margin-top: 3vh;
        width: 82vw;
        height: 15vh;
        margin-bottom: 10px;
        padding-bottom: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        font-size: 20px;
    }

    article>a>span.site-android {
        margin-left: -31vw;
        width: 20vw;
        height: 15vh;
    }

    section>article>a.link-android {
        border-radius: 0px;
        padding: 0vw 8vw;
        background-color: #1cb621;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        text-align: center;
        margin-top: 10vh;
        font-family: 'BenchNine';
        align-items: center;
        width: 21vw;
        margin-left: 16vw;
    }

    section>article>a.link-android:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 8px;
        top: -5px;
        left: -5px;
        border-top: 3px solid #1cb621;
        border-left: 3px solid #1cb621;
        transition: all 0.25s;
    }

    section>article>a.link-android:hover:before,
    section>article>a.link-android:hover:after {
        height: 100%;
        width: 100%;
    }

    section>article>a.link-android:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 3px solid #1cb621;
        border-right: 3px solid #1cb621;
        transition: all 0.25s;
    }

    section>article>a.link-android:hover {
        color: black;
    }

    section>article>aside.perfil {
        width: 23vw;
        height: 34vh;
        margin-top: -37vh;
        margin-bottom: 13vh;
        margin-left: 60vw;
        border-radius: 44px;
    }

    article>a>span.site-cordel {
        margin-left: 33vw;
        width: 17vw;
        height: 15vh;
        margin-top: -25vh;

    }

    section>article>a.link-cordel {
        width: 10vw;
        height: 4vh;
        margin-left: 53.5vw;
        padding-left: 2vw;
        margin-top: -13.1vh;
    }

    section>article>span.perfil {

        width: 18vw;
        height: 45vh;
        margin-top: -43vh;
        margin-bottom: 11vh;
        margin-left: 63vw;
        border-radius: 46px;
    }

    main>section>footer>p {
        margin-top: 39.9vh;
        width: 87.8vw;
        margin-left: -1.6vw;
        background-color: var(--color3);
        font-family: var(--font0);
        height: 8vh;
        margin-bottom: 5vh;
        border-radius: 10px;
        padding-left: 4vw;
        font-size: 20px;
    }

    main>section>footer>a.instagram {
        width: 5vw;
        height: 4vh;
        margin-top: -9vh;
        margin-bottom: 10vh;
        margin-left: 36vw;
    }

    main>section>footer>a.github {
        width: 6vw;
        height: 4.8vh;
        margin-top: -14.6vh;
        margin-bottom: 10vh;
        margin-left: 49.5vw;
    }


}

/*pc*/
@media screen and (min-width: 988px) and (max-width:1024px) {
    main {
        width: 87vw;
        text-align: center;
        margin-left: 7vw;
    }

    header>h1.titulo {
        font-size: 30px;
    }

    article>aside.img2 {
        margin-left: -53px;
        margin-top: -5px;
        margin-bottom: 20px;
        width: 70vw;

    }

    article>h1 {
        margin-left: -1.5vw;
        width: 86vw;
    }

    article>h2 {
        margin-top: -40px;
        margin-left: -1.5vw;
        width: 86vw;

    }

    article>h3 {
        border-radius: 10px;
        margin-left: -1.5vw;
        width: 86vw;
        margin-top: -17vh;
    }

    p.apresentacao {
        width: 56vw;
        margin-top: 6vh;
        height: 35vh;
        margin-bottom: 3vh;
        font-size: 20px;
        margin-left: 2vw;
    }

    p.segundop {
        width: 80vw;
        font-size: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        margin-bottom: 11vh;
    }

    p.quartop {
        width: 80vw;
        font-size: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        margin-bottom: 11vh;
        margin-top: -10vh;
    }

    p.quintop {
        margin-top: -2vh;
        width: 80vw;
        margin-left: 2vw;
        font-size: 20px;
    }

    p.linguagens1 {
        margin-top: 3vh;
        width: 82vw;
        height: 15vh;
        margin-bottom: 10px;
        padding-bottom: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        font-size: 20px;
    }

    article>a>span.site-android {
        width: 19vw;
        height: 17vh;
        margin-top: -5vh;
        margin-bottom: -9vh;
        margin-left: -25vw;
        border-radius: 18px;
        padding-bottom: 5vh;
    }

    section>article>a.link-android {
        border-radius: 0px;
        padding: 0vw 8vw;
        background-color: #1cb621;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        text-align: center;
        margin-top: 10vh;
        font-family: 'BenchNine';
        align-items: center;
        margin-left: 19.5vw;
    }

    section>article>a.link-android:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 8px;
        top: -5px;
        left: -5px;
        border-top: 3px solid #1cb621;
        border-left: 3px solid #1cb621;
        transition: all 0.25s;
    }

    section>article>a.link-android:hover:before,
    section>article>a.link-android:hover:after {
        height: 100%;
        width: 100%;
    }

    section>article>a.link-android:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 3px solid #1cb621;
        border-right: 3px solid #1cb621;
        transition: all 0.25s;
    }

    section>article>a.link-android:hover {
        color: black;
    }

    article>a>span.site-cordel {
        margin-left: 42vw;
        width: 13vw;
        height: 15vh;
        margin-top: -26vh;
    }

    section>article>a.link-cordel {
        width: 10vw;
        height: 4vh;
        margin-left: 58vw;
        padding-left: 2vw;
        margin-top: -12.9vh;
    }

    section>article>aside.perfil {
        width: 24vw;
        height: 34vh;
        margin-top: -38vh;
        margin-bottom: 11vh;
        margin-left: 60vw;
        border-radius: 89px;
    }

    article>.teste p {
        font-size: 20px;
        display: block;
        text-align: left;
        margin-bottom: 11vh;
        max-width: 44vw;
        height: 10vh;
        color: white;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin-left: 1.5vw;
        margin-top: -14vh;
        letter-spacing: .15em;
        animation: digitando 3.5s steps(40, end) 9999,
            piscar .75s step-end infinite;
        /* Adicione um atraso de reinício */

    }

    @keyframes digitando {
        from {
            width: 0vw;
            height: 13vh;
        }

        to {
            width: 70vw;
            height: 13vh;
        }

    }

    @keyframes piscar {

        from,
        to {
            border-color: transparent;
            height: 4vh;
        }

        50% {
            border-color: orange;
            height: 4vh;
        }
    }

    main>section>footer>p {
        margin-top: 56.9vh;
        width: 87.8vw;
        margin-left: -1.7vw;
        background-color: var(--color3);
        font-family: var(--font0);
        height: 8vh;
        margin-bottom: 5vh;
        border-radius: 10px;
        padding-left: 4vw;
        font-size: 20px;
    }

    main>section>footer>a.instagram {
        width: 5vw;
        height: 3.8vh;
        margin-top: -9vh;
        margin-bottom: 10vh;
        margin-left: 37vw;
    }

    main>section>footer>a.github {
        width: 6vw;
        height: 4.2vh;
        margin-top: -14.4vh;
        margin-bottom: 10vh;
        margin-left: 49vw;
    }



}

/* pcs e tv*/
@media screen and (min-width:1025px) {
    main {
        width: 78vw;
        text-align: center;
        margin-left: 10vw;
    }

    header>p.estrategia {
        width: 14vw;
    }

    header>p.responsivos {
        width: 15vw;
    }

    header>p.bug {
        width: 14vw;
    }

    header>h1.titulo {
        font-size: 30px;
        margin-left: -6vw;
    }

    article>aside.img2 {
        margin-left: -53px;
        margin-top: -5px;
        margin-bottom: 20px;
        width: 70vw;

    }

    article>h1 {
        margin-left: -1.5vw;
        width: 77vw;
    }

    article>h2 {
        margin-top: -10vw;
        margin-left: -1.5vw;
        width: 77vw;

    }

    article>h3 {
        border-radius: 10px;
        margin-left: -1.5vw;
        width: 77vw;
        margin-top: -17vh;
    }

    p.apresentacao {
        width: 56vw;
        margin-top: 6vh;
        height: 35vh;
        margin-bottom: 3vh;
        font-size: 20px;
        margin-left: 2vw;
    }

    p.segundop {
        width: 71vw;
        font-size: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        margin-bottom: 8vh;
    }

    p.quartop {
        width: 71vw;
        height: 16vh;
        font-size: 20px;
        text-indent: 5px;
        text-align: justify;
        margin-left: 2vw;
        margin-bottom: 14vh;
        margin-top: -10vh;
    }

    p.quintop {
        margin-top: -2vh;
        width: 80vw;
        margin-left: 2vw;
        font-size: 20px;
    }

    p.linguagens1 {
        margin-top: 3vh;
        width: 82vw;
        height: 15vh;
        margin-bottom: 10px;
        padding-bottom: 20px;
        text-indent: 9px;
        margin-left: 2vw;
        font-size: 20px;
    }

    article>a>span.site-android {
        width: 19vw;
        height: 17vh;
        margin-top: -5vh;
        margin-bottom: -9vh;
        margin-left: -25vw;
        border-radius: 18px;
        padding-bottom: 5vh;
    }

    section>article>a.link-android {
        border-radius: 0px;
        padding: 0vw 8vw;
        background-color: #1cb621;
        color: white;
        font-size: 20px;
        text-transform: uppercase;
        cursor: pointer;
        position: relative;
        text-align: center;
        margin-top: 10vh;
        font-family: 'BenchNine';
        align-items: center;

    }

    section>article>a.link-android:before {
        content: "";
        position: absolute;
        width: 24px;
        height: 8px;
        top: -5px;
        left: -5px;
        border-top: 3px solid #1cb621;
        border-left: 3px solid #1cb621;
        transition: all 0.25s;
    }

    section>article>a.link-android:hover:before,
    section>article>a.link-android:hover:after {
        height: 100%;
        width: 100%;
    }

    section>article>a.link-android:after {
        content: "";
        position: absolute;
        width: 24px;
        height: 24px;
        bottom: -5px;
        right: -5px;
        border-bottom: 3px solid #1cb621;
        border-right: 3px solid #1cb621;
        transition: all 0.25s;
    }

    section>article>a.link-android:hover {
        color: black;
    }

    article>a>span.site-cordel {
        margin-left: 27vw;
        width: 13vw;
        height: 17vh;
        margin-top: -27vh;
    }

    section>article>a.link-cordel {
        width: 7vw;
        height: 4vh;
        margin-left: 47.5vw;
        padding-left: .9vw;
        margin-top: -12.9vh;
        font-size: 20px;
    }

    section>article>aside.perfil {
        width: 18vw;
        height: 34vh;
        margin-top: -41vh;
        margin-bottom: 24vh;
        margin-left: 58vw;
        border-radius: 89px;
    }

    article>.teste p {
        font-size: 20px;
        display: block;
        text-align: left;
        margin-bottom: 11vh;
        max-width: 34vw;
        height: 10vh;
        color: white;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin-left: 1.5vw;
        margin-top: -14vh;
        letter-spacing: .15em;
        animation: digitando 3.5s steps(40, end) 9999,
            piscar .75s step-end infinite;
        /* Adicione um atraso de reinício */

    }

    @keyframes digitando {
        from {
            width: 0vw;
            height: 13vh;
        }

        to {
            width: 70vw;
            height: 13vh;
        }

    }

    @keyframes piscar {

        from,
        to {
            border-color: transparent;
            height: 4vh;
        }

        50% {
            border-color: orange;
            height: 4vh;
        }
    }



    section>article>a.link-cordel:hover {
        background-color: gray;
    }

    main>section>footer>p {
        margin-top: 73.9vh;
        width: 78vw;
        margin-left: -0.9vw;
        background-color: var(--color3);
        font-family: var(--font0);
        height: 8vh;
        margin-bottom: 5vh;
        border-radius: 10px;
        padding-left: 4vw;
        font-size: 20px;
    }

    main>section>footer>a.instagram {
        width: 5vw;
        height: 3.8vh;
        margin-top: -9vh;
        margin-bottom: 10vh;
        margin-left: 34vw;
    }

    main>section>footer>a.github {
        width: 6vw;
        height: 4.2vh;
        margin-top: -14.4vh;
        margin-bottom: 10vh;
        margin-left: 45vw;
    }

    header>nav>a:hover {
        color: var(--color3);
    }

}