@charset "UTF-8";

/*tablet*/
@media screen and (min-width:481px) and (max-width: 768px) {
    main {
        margin-top: 0vh;
        margin-left: 7;
    }

    header>h1.titulo {
        margin-left: 10vw;
        padding-top: 0px;
        width: 68vw;
    }

    article>h1 {
        margin-left: -1.9vw;
    }

    article>h2 {
        margin-top: 5vh;
        margin-left: -1.9vw;
    }

    article>h3 {
        margin-left: -1.9vw;
        margin-top: -9vh;
    }

    header>p.estrategia {
        margin-left: 60%;
        margin-top: -28vh;
    }

    header>p.responsivos {
        margin-left: 75%;
        margin-top: 15px;
    }

    header>p.bug {
        margin-left: 60%;
        margin-top: 15px;
    }

    aside.logo {
        height: 56vh;
    }

    header>nav {
        margin-top: 5.2vh;
        padding-top: 0px;
    }

    p.apresentacao {
        margin-top: 20px;
        width: 64vw;
        height: 35vh;
        text-align: justify;
        line-height: 1.5em;
        text-indent: 5px;
        margin-bottom: 10px;
        padding-top: 0px;
    }

    section>article>aside.perfil {
        background: url("../imagens/perfil.jpeg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 19vw;
        height: 36vh;
        background-color: #BFB195;
        margin-top: -40vh;
        margin-bottom: 7vh;
        margin-left: 66vw;
        border-radius: 44px;

    }

    p.terceirop {
        margin-top: -10vh;
        margin-bottom: 5vh;
        text-indent: 5px;

    }

    p.quartop {
        margin-top: -15vh;
    }
}

/*laptop*/

@media screen and (min-width: 769px) and (max-width:1024px) {
    main {

        width: 70vw;
        text-align: center;
        margin-left: 126px;
    }

    header>h1.titulo {
        font-size: 30px;
    }

    article>aside.img2 {
        margin-left: -53px;
        margin-top: -5px;
        margin-bottom: 20px;
        width: 70vw;

    }

    article>h1 {
        width: 67vw;
    }

    article>h2 {
        margin-top: -40px;
        width: 67vw;

    }

    p.apresentacao {
        width: 48vw;
    }

    p.segundop {
        width: 67vw;
    }

    p.terceirop {
        margin-top: -12vh;
        width: 67vw;
        text-align: left;

    }

    p.quartop {
        margin-top: -25px;
        width: 67vw;
        height: 18vh;
    }

    p.quintop {
        margin-top: -25px;
        width: 67vw;

    }

    p.linguagens1 {
        width: 67vw;
    }

    section>article>aside.perfil {
        background: url("../imagens/perfil.jpeg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 14vw;
        height: 39vh;
        background-color: #BFB195;
        margin-top: -37vh;
        margin-bottom: 7vh;
        margin-left: 51vw;
        border-radius: 49px;
    }

    article>.teste p {
        display: block;
        text-align: left;
        margin-bottom: 1vh;
        max-width: 58vw;
        height: 10vh;
        color: white;
        overflow: hidden;
        border-right: .15em solid orange;
        white-space: nowrap;
        margin-left: 7.5vw;
        margin-top: -14vh;
        letter-spacing: .15em;
        animation:
            digitando 3.5s steps(40, end) 15,
            piscar .75s step-end infinite;
        /* Adicione um atraso de reinício */

    }

    @keyframes digitando {
        from {
            width: 0vw;
        }

        to {
            width: 70vw;
        }

    }

    @keyframes piscar {

        from,
        to {
            border-color: transparent;
            height: 3vh;
        }

        50% {
            border-color: orange;
            height: 3vh;
        }
    }

    section>article>a.link-android:hover {
        background-color: red;
    }
}

/*tv*/

@media screen and (min-width:1025px) {
    p.apresentacao {
        margin-top: 20px;
        width: 56vw;
        height: 32vh;
        text-align: justify;
        line-height: 2em;
        text-indent: 25px;
        margin-bottom: 10px;
        padding-top: 0px;
        font-size: 20px;
    }

    p.linguagens1 {
        font-size: 20px;

    }

    p.segundop {
        font-size: 20px;

    }

    p.terceirop {
        font-size: 20px;

    }

    p.quartop {
        font-size: 20px;

    }

    p.quintop {
        font-size: 20px;

    }

    header>h1.titulo {
        font-size: 30px;
        margin-left: -10px;
    }

    main {
        margin-top: -43vh;
        margin-left: 68px;
    }

    header>nav {
        padding: 10px;
    }

    article {
        margin-left: 52px;
    }

    section>article>aside.perfil {
        background: url("../imagens/perfil.jpeg") no-repeat;
        background-position: center;
        background-size: contain;
        width: 14vw;
        height: 39vh;
        background-color: #BFB195;
        margin-top: -35vh;
        margin-bottom: -13vh;
        margin-left: 62vw;
        border-radius: 49px;
    }


    header>p.estrategia {
        margin-top: -24vh;
        width: 14vw;
        height: 12vh;
    }

    header>p>span.material-symbols-outlined {
        width: 8vw;
        height: 7vh;
    }

    header>p.responsivos {
        width: 14vw;
        height: 12vh;
    }

    header>p.bug {
        width: 14vw;
        height: 12vh;
    }

}