@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Russo+One&display=swap');

:root {
    --font0: Verdana, Geneva, Tahoma, sans-serif;
    --font1: 'Poppins';
    --font3: 'Russo One';
    --font4: 'Poppins', sans-serif;
    --colorb: black;
    --colorw: white;
    --color0: rgba(75, 75, 197, 0.767);
    --color1: #012E40;
    --color2: #024959;
    --color3: #026873;
    --color4: #BFB195;
    --color5: #F2DCC2;

}

/*@media screen and (min-width: 375px) and (max-width:480px) {*/
* {
    box-sizing: border-box;

}

html,
body {
    background-color: var(--color2);
    margin: 0px;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin-bottom: 0px;
}

header {
    width: 100vw;
    text-align: center;
    padding-top: 0px;
}

header>h1.titulo {
    margin-top: -33.5vh;
    padding-top: 0px;
    padding-bottom: -0px;
    margin-bottom: -0px;
    color: var(--colorb);
    padding-right: 154px;
    margin-left: 10vw;
    padding-left: -10px;
    font-family: var(--font1);
    font-size: 20px;
    width: 78vw;
    height: 10vh;
    margin-bottom: 0px;

}

header>p.estrategia {
    color: var(--colorb);
    margin-top: -25vh;
    padding-top: 6vh;
    margin-left: 60%;
    width: 21vw;
    height: 12vh;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.705);
    text-align: center;
    font-size: 12px;
    font-family: var(--font0);
}

header>p>span.material-symbols-outlined {
    color: var(--colorb);
    margin-top: -4vh;
    padding-top: -2vh;
    margin-left: 15px;
    width: 10vw;
    height: 7vh;
    font-size: 35px;
    background-color: rgba(128, 128, 128, 0.342);
    border-radius: 10px;
}

header>p.responsivos {
    color: var(--colorb);
    margin-top: -1vh;
    padding-top: 5vh;
    margin-left: 75%;
    width: 22vw;
    height: 12vh;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.705);
    text-align: center;
    font-size: 10px;
    font-family: var(--font0);
}

header>p#wallpper {
    color: var(--colorb);
    margin-top: -430px;
    padding-top: 30px;
    margin-left: 162px;
    width: 10vw;
    height: 7vh;
    border-radius: 7px;
    background-color: black;
    text-align: center;
    font-size: 12px;
    font-family: var(--font0);
}

header>p.bug {
    color: var(--colorb);
    margin-top: -8px;
    padding-top: 39px;
    margin-left: 60%;
    width: 20vw;
    height: 12vh;
    border-radius: 7px;
    background-color: rgba(255, 255, 255, 0.705);
    text-align: center;
    font-size: 10px;
    font-family: var(--font0);
}

header>p#bug {
    color: var(--colorb);
    margin-top: -430px;
    padding-top: 30px;
    margin-left: 155px;
    width: 10vw;
    height: 7vh;
    border-radius: 7px;
    background-color: black;
    text-align: center;
    font-size: 12px;
    font-family: var(--font0);
}

header>nav {
    padding-top: 1vh;
    margin-top: 6vh;
    margin-bottom: 1vh;
    padding-bottom: 0px;
    text-shadow: 10px solid rgba(0, 0, 0, 0.548);
    background-color: rgba(0, 0, 0, 0.164);
    width: 100vw;
    height: 5vh;
    border-radius: 10px;
}

nav>a {
    padding: 1.5vw;
    text-decoration: none;
    color: var(--colorw);
}

aside#imgHeader {
    background: url("../imagens/notebook.png") no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 0px;
}

aside.logo {
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: -2vh;
    border-radius: 10px;
    width: 100vw;
    height: 56vh;
    box-shadow: inset 6px 6px 13px 0px rgba(0, 0, 0, 0.37);
}

article>p {
    margin-top: -551px;
    padding: 5px;
    width: 85vw;
}

article>h1 {
    font-family: var(--font1);
    margin-top: -3vh;
    margin-bottom: 4vh;
    margin-left: -3.5vw;
    margin-right: 2vw;
    color: var(--colorw);
    background-color: var(--color1);
    width: 88vw;
    height: 5vh;
    text-align: center;
    border-radius: 10px;

}

section {
    margin-top: 3vh;
    margin-bottom: 2vh;

}

main {
    background-color: var(--color4);
    padding: 2vh;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    width: 90vw;
    border-radius: 10px;
    height: 257vh;
}

p.apresentacao {
    margin-top: -2vh;
    width: 80vw;
    height: 35vh;
    text-align: justify;
    line-height: 1.5em;
    text-indent: 5px;
    margin-bottom: 1vh;
    padding-top: 0px;
    display: block;
}

article>h2 {
    font-family: var(--font1);
    margin-top: -4vh;
    margin-bottom: 4vh;
    margin-left: -3.5vw;
    margin-right: 2vw;
    color: var(--colorw);
    background-color: var(--color1);
    width: 88vw;
    height: 5vh;
    text-align: center;
    border-radius: 10px;
}

p.linguagens1 {
    margin-top: 3vh;
    width: 80vw;
    height: 15vh;
    margin-bottom: 10px;
    padding-bottom: 20px;
    text-indent: 5px;
    text-align: justify;
    margin-left: 1vw;
}

aside.img2 {
    background: url("../imagens/linguagens_redimensionadas.png") no-repeat;
    background-position: center;
    background-size: contain;
    margin-top: 40px;
}

aside#imagem2 {
    width: 80vw;
    height: 40vh;
    margin-top: -14vh;
}

p.segundop {
    margin-top: -10vh;
    margin-bottom: 0vh;
    width: 80vw;
    height: 21vh;
    text-indent: 5px;
    margin-left: 1vw;
    text-align: justify;
}


article>.teste p {
    display: none;
    margin-top: -14vh;
    margin-left: 34vw;
    text-indent: 2vw;
    width: 50vw;
    height: 10vh;
    text-align: left;
    flex-wrap: nowrap;
}

p.quartop {
    margin-top: 0vh;
    width: 80vw;
    height: 29vh;
    text-indent: 5px;
    text-align: justify;

}

p.quintop {
    margin-top: -1vh;
    width: 80vw;
    height: 15vh;
    text-indent: 5px;
    text-align: justify;
    margin-bottom: 4vh;

}

main>section>aside>p {
    font-family: var(--font1);
    font-size: 20px;

}

section>article>aside.perfil {
    background: url("../imagens/perfil.jpeg") no-repeat;
    background-position: center;
    background-size: contain;
    width: 43vw;
    height: 34vh;
    background-color: #BFB195;
    margin-top: 4vh;
    margin-bottom: 6vh;
    margin-left: 21vw;
    border-radius: 44px;

}

article {
    display: block;
    margin-left: 1vw;
}

article>h3 {
    font-family: var(--font1);
    margin-top: -2vh;
    margin-bottom: 4vh;
    margin-left: -3.5vw;
    color: var(--colorw);
    background-color: var(--color1);
    width: 88vw;
    height: 5vh;
    text-align: center;
    border-radius: 10px;
}

article>a>span.site-android {
    background: url("../imagens/siteandroid.png") no-repeat;
    background-position: center;
    background-size: contain;
    width: 29vw;
    height: 17vh;
    margin-top: -5vh;
    margin-bottom: -9vh;
    margin-left: 9vw;
    border-radius: 18px;
    background-color: var(--color3);
    padding-bottom: 5vh;
    display: inline-block;
}

section>article>a.link-android {
    font-family: var(--font1);
    width: 20vw;
    height: 4vh;
    margin-top: 9vh;
    margin-left: 15vw;
    background-color: var(--color2);
    text-decoration: none;
    border-radius: 8px;
    color: var(--colorw);
    padding-left: 2.1vw;
    font-size: 1em;
    margin-right: 30vw;
    padding-bottom: 5vh;
    margin-bottom: 5vh;
    display: flex;
    padding-left: 2vw;

}

article>a>span.site-cordel {
    background: url("../imagens/cordelgif.gif") no-repeat;
    background-position: center;
    background-size: contain;
    width: 29vw;
    height: 17vh;
    margin-top: -27.9vh;
    margin-bottom: 12.8vh;
    margin-left: 47vw;
    border-radius: 18px;
    background-color: var(--color3);
    display: inline-block;

}

section>article>a.link-cordel {
    font-family: var(--font1);
    width: 84px;
    height: 4vh;
    margin-top: -12.5vh;
    margin-left: 52vw;
    background-color: var(--color2);
    text-decoration: none;
    border-radius: 8px;
    color: var(--colorw);
    padding-left: 3.1vw;
    font-size: 1em;
    margin-right: 30vw;
    display: flex;


}


main>section>footer {
    margin-top: .5vh;
}

main>section>footer>p {
    margin-top: 23vh;
    width: 92.5vw;
    margin-left: -4.5vw;
    background-color: var(--color3);
    font-family: var(--font0);
    height: 8vh;
    margin-bottom: 5vh;
    border-radius: 10px;
    padding-left: 11vw;
    font-size: 16px;
}

main>section>footer>a.instagram {
    background: url("../imagens/instagram.png")no-repeat;
    background-position: center;
    background-size: contain;
    width: 5vw;
    height: 6vh;
    display: block;
    margin-top: -10vh;
    margin-bottom: 10vh;
    margin-left: 35vw;

}

main>section>footer>a.github {
    background: url("../imagens/gituhb.png") no-repeat;
    background-position: left;
    background-size: contain;
    width: 6vw;
    height: 6vh;
    display: block;
    margin-top: -15.9vh;
    margin-bottom: 10vh;
    margin-left: 48vw;
}